{% include 'header.html' %}


  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Contact Info</h3>
          <div class="row">
            <div class="col-md-4"><p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>27th KM Milestone, Bangalore - K Expy<br> Karnataka.<br></p></div>
            <div class="col-md-4"><p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>itsolsshoplift@gmail.com</p></div>
            <div class="col-md-4"><p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 800 123 1234</p></div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>

{% include 'footer.html' %}
