
{% include 'header.html' %}
<style type="text/css">
  i {
    color: rgb(47 19 138 / 58%) !important;
  }
</style>
<!--service-->
<section id="service" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">About Us</h2>
        <hr class="botm-line">
        <p>Our platform is dedicated to providing an advanced solution for the detection and prevention of shoplifting. By leveraging state-of-the-art surveillance and image recognition technology, we analyze video footage and sensor data to accurately identify suspicious behavior. Our goal is to assist retailers in reducing theft and improving store security.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-flask"></i>
          </div>
          <div class="icon-info">
            <h4>Mission</h4>
            <p>Our mission is to enhance the accuracy and speed of shoplifting detection, aiding in early identification of theft attempts and better store security through innovative technology.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="icon-info">
            <h4>Focus</h4>
            <p>We focus on providing retailers with a reliable tool that simplifies the process of detecting and preventing shoplifting, ensuring timely response to theft and reducing losses.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-eye"></i>
          </div>
          <div class="icon-info">
            <h4>Vision</h4>
            <p>Our vision is to become a leading platform in the field of theft prevention, continuously improving our technology and expanding our capabilities to detect various types of suspicious activities in retail environments.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-heartbeat"></i>
          </div>
          <div class="icon-info">
            <h4>Why Us?</h4>
            <p>We strive to empower retailers with advanced theft detection tools, fostering a secure shopping environment that helps reduce losses and enhances the customer experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}
