{% include 'header.html' %}

<section id="cta-1" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="schedule-tab">
        <div class="col-md-4 col-sm-4 bor-left">
          <div class="mt-boxy-color"></div>
          <div class="medi-info">
            <h3>AI Detection</h3>
            <p>Detect shoplifting incidents from surveillance footage, wherever you see or capture. Enjoy detecting with our AI-powered shoplifting detection model.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="medi-info">
            <h3>Expert Models</h3>
            <p>Get an accurate prediction of potential shoplifting activity by inputting the surveillance footage into our AI model.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mt-boxy-3">
          <div class="mt-boxy-color"></div>
          <style>
            td {
              padding: 5px;
            }
          </style>
          <div class="time-info">
            <h3>Opening Hours</h3>
            <table style="margin: 8px 0px 0px; padding: 2px;" border="1">
              <tbody>
                <tr>
                  <td>AI Detection</td>
                  <td>Any Time</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--cta-->
<!--about-->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="section-title">
          <h2 class="head-title lg-line">Our Easy <br>Access Services</h2>
          <hr class="botm-line">
          <p class="sec-para">Shoplifting Detection offers a range of features designed to make shoplifting prevention and detection easy and accessible. At the core of our service is advanced image recognition technology, leveraging cutting-edge AI algorithms to accurately identify shoplifting incidents from video footage. This technology ensures that store managers and security personnel can quickly and reliably access the information they need to respond to theft incidents.</p>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div style="visibility: visible;" class="col-sm-9 more-features-box">
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Accurate Shoplifting Identification</h3>
              <p>Our AI model uses advanced technology to detect shoplifting incidents from uploaded surveillance footage.</p>
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Detailed Incident Information</h3>
              <p>Get comprehensive details about each suspected shoplifting incident, including the time, location, and involved individuals.</p>
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>User-Friendly Interface</h3>
              <p>The platform offers an easy-to-navigate interface, allowing security teams to upload footage and receive accurate shoplifting identification effortlessly.</p>
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Secure and Confidential</h3>
              <p>We ensure the privacy and security of user data, maintaining confidentiality in all interactions and analyses.</p>
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Accessible Anytime, Anywhere</h3>
              <p>The platform is available 24/7, allowing retail security teams to detect and respond to shoplifting incidents anytime and from anywhere.</p>
            </div>
          </div>
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Regular Updates</h3>
              <p>We continuously improve our AI model to include the latest advancements in shoplifting detection and enhance identification accuracy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
